PUSHN 20
START
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
dolooplbl10:
PUSHG 1
PUSHI 9
INFEQ
STOREG 4
PUSHG 4
JZ endlooplbl10
PUSHG 0
STOREG 13
PUSHG 1
STOREG 14
PUSHI 0
STOREG 15
PUSHI 1
STOREG 16
PUSHG 13
STOREG 17
convrt0lbl20:
PUSHG 17
PUSHI 0
SUP
STOREG 5
PUSHG 5
JZ else0
PUSHG 17
PUSHG 14
MOD
STOREG 6
PUSHG 6
STOREG 18
PUSHG 18
PUSHG 16
MUL
STOREG 7
PUSHG 15
PUSHG 7
ADD
STOREG 8
PUSHG 8
STOREG 15
PUSHG 17
PUSHG 14
DIV
STOREG 9
PUSHG 9
STOREG 17
PUSHG 16
PUSHI 10
MUL
STOREG 10
PUSHG 10
STOREG 16
JUMP convrt0lbl20
JUMP endif1
else0:
endif1:
PUSHG 15
STOREG 19
JUMP convrt0retlbl
convrt0retlbl:
PUSHG 19
STOREG 11
PUSHG 11
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 1
PUSHI 1
ADD
STOREG 12
PUSHG 12
STOREG 1
JUMP dolooplbl10
endlooplbl10:
STOP
