PUSHN 25
START
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
dolooplbl10:
PUSHI 1
PUSHI 0
SUP
STOREG 11
PUSHG 1
PUSHI 9
INFEQ
STOREG 12
PUSHG 1
PUSHI 9
SUPEQ
STOREG 13
PUSHG 11
PUSHG 12
AND
STOREG 14
PUSHG 11
NOT
STOREG 15
PUSHG 15
PUSHG 13
AND
STOREG 16
PUSHG 14
PUSHG 16
OR
STOREG 17
PUSHG 17
JZ endlooplbl10
PUSHG 0
STOREG 5
PUSHG 1
STOREG 6
PUSHI 0
STOREG 10
PUSHI 1
STOREG 9
PUSHG 0
STOREG 7
convrt0lbl20:
PUSHG 7
PUSHI 0
SUP
STOREG 18
PUSHG 18
JZ else0
PUSHG 7
PUSHG 6
MOD
STOREG 19
PUSHG 19
STOREG 8
PUSHG 19
PUSHG 9
MUL
STOREG 20
PUSHG 10
PUSHG 20
ADD
STOREG 21
PUSHG 21
STOREG 10
PUSHG 7
PUSHG 6
DIV
STOREG 22
PUSHG 22
STOREG 7
PUSHG 9
PUSHI 10
MUL
STOREG 23
PUSHG 23
STOREG 9
JUMP convrt0lbl20
else0:
endif1:
PUSHG 10
STOREG 4
convrt0retlbl:
PUSHG 4
STOREG 2
PUSHS "BASE "
WRITES
PUSHS " "
WRITES
PUSHG 1
WRITEI
PUSHS " "
WRITES
PUSHS ": "
WRITES
PUSHS " "
WRITES
PUSHG 4
WRITEI
WRITELN
lbl10:
PUSHG 1
PUSHI 1
ADD
STOREG 24
PUSHG 24
STOREG 1
JUMP dolooplbl10
endlooplbl10:
STOP
