PUSHN 12
START
PUSHS "Introduza um numero inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 1
STOREG 2
PUSHI 1
STOREG 1
dolooplbl10:
PUSHI 1
PUSHI 0
SUP
STOREG 3
PUSHG 1
PUSHG 0
INFEQ
STOREG 4
PUSHG 1
PUSHG 0
SUPEQ
STOREG 5
PUSHG 3
PUSHG 4
AND
STOREG 6
PUSHG 3
NOT
STOREG 7
PUSHG 7
PUSHG 5
AND
STOREG 8
PUSHG 6
PUSHG 8
OR
STOREG 9
PUSHG 9
JZ endlooplbl10
PUSHG 2
PUSHG 1
MUL
STOREG 10
PUSHG 10
STOREG 2
PUSHG 1
PUSHI 1
ADD
STOREG 11
PUSHG 11
STOREG 1
JUMP dolooplbl10
endlooplbl10:
PUSHS "Fatorial de "
WRITES
PUSHG 0
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
STOP
