PUSHN 11
START
PUSHI 0
STOREG 1
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 0
dolooplbl30:
PUSHG 0
PUSHI 5
INFEQ
STOREG 7
PUSHG 7
JZ endlooplbl30
PUSHGP
PUSHI 2
PADD
PUSHI 0
PUSHG 0
PUSHI 1
SUB
ADD
READ
ATOI
STOREN
PUSHGP
PUSHI 2
PADD
PUSHI 0
PUSHG 0
PUSHI 1
SUB
ADD
LOADN
STOREG 8
PUSHG 1
PUSHG 8
ADD
STOREG 9
PUSHG 9
STOREG 1
PUSHG 0
PUSHI 1
ADD
STOREG 10
PUSHG 10
STOREG 0
JUMP dolooplbl30
endlooplbl30:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 1
WRITEI
WRITELN
STOP
