PUSHN 17
START
PUSHI 0
STOREG 1
PUSHS "Introduza 5 numeros inteiros:"
WRITES
WRITELN
PUSHI 1
STOREG 0
dolooplbl30:
PUSHI 1
PUSHI 0
SUP
STOREG 7
PUSHG 0
PUSHI 5
INFEQ
STOREG 8
PUSHG 0
PUSHI 5
SUPEQ
STOREG 9
PUSHG 7
PUSHG 8
AND
STOREG 10
PUSHG 7
NOT
STOREG 11
PUSHG 11
PUSHG 9
AND
STOREG 12
PUSHG 10
PUSHG 12
OR
STOREG 13
PUSHG 13
JZ endlooplbl30
PUSHGP
PUSHI 2
PADD
PUSHI 0
PUSHG 0
PUSHI 1
SUB
ADD
READ
ATOI
STOREN
PUSHGP
PUSHI 2
PADD
PUSHI 0
PUSHG 0
PUSHI 1
SUB
ADD
LOADN
STOREG 14
PUSHG 1
PUSHG 14
ADD
STOREG 15
PUSHG 15
STOREG 1
PUSHG 0
PUSHI 1
ADD
STOREG 16
PUSHG 16
STOREG 0
JUMP dolooplbl30
endlooplbl30:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 1
WRITEI
WRITELN
STOP
